// BRANDING COLORS
$rlg-gray-blue-10: #131920;
$rlg-gray-blue-30: #394d60;
$rlg-gray-blue-40: #4b6681;
$rlg-gray-blue-60: #7e99b4;
$rlg-gray-blue-80: #bfccd9;
$rlg-gray-blue-90: #e1e5ea;
$rlg-gray-blue-94: #eef0f2;
$rlg-gray-blue-98: #fafafa;
$rlg-gray-blue: #222e3a;

$rlg-orange-30: #934106;
$rlg-orange-40: #bf560b;
$rlg-orange-70: #f9a86c;
$rlg-orange-90: #fde2ce;
$rlg-orange: #ea690a;

$rlg-blue-40: #3a7d92;
$rlg-blue-60: #6db0c5;
$rlg-blue: #4493ac;

$navy: #005596;
$blue-72: #aab5bd;
$cobalt: #376de1;
$ink: #004664;
$blue-32: #0b3a52;

$leaf: #00cd50;
$green-100: #f6ffe0;
$green-97: #b0f500;
$forest: #007864;

// SEMANTIC COLORS
$red-40: #b01c21;
$red-60: #e34f54;
$red-96: #fcedee;
$red: #cd2026;

$green-30: #004d40;
$green-40: #0a3622;
$green-60: #349849;
$green-96: #f0faf2;
$green-97: #b0f500;
$green-100: #f6ffe0;
$green: #00cd50;

$yellow-40: #ca8c02;
$yellow-70: #fecf67;
$yellow-96: #fff9eb;
$yellow: #fdb81e;

// NEUTRAL COLORS
$black: #000000;
$white: #ffffff;

$gray-98: #fafafa;
$gray-95: #f1f1f1;
$gray-90: #e6e6e6;
$gray-80: #cccccc;
$gray-59: #969696;
$gray-40: #666666;
$gray-24: #3d3d3d;

// ----------

$text-primary: #3c3c3c;
$primary: $rlg-gray-blue;
$secondary: $rlg-orange;
$tertiary: $rlg-blue;

$danger: $red;
$success: $green;
$warning: $yellow;
$info: $cobalt;
